[SpamFilter]
[KillThreadsFilter]
[ArchiveSentMailsFilter]
[InboxFilter]
[Filter.0]
query = from:discourse@discourse.nixos.org
tags = +discourse;+discourse/nixos
message = Discourse :: NixOS
[Filter.1]
query = from:meta@discoursemail.com
tags = +discourse;+discourse/meta
message = Discourse :: Discourse Meta
[Filter.2]
query = from:github.com
tags = +github
message = GitHub
[Filter.3]
query = to:nixpkgs@noreply.github.com
tags = +nixpkgs
message = Nixpkgs
