layout {
  default_tab_template {
    children
    pane size=2 borderless=true {
      plugin location="zjstatus" {
        border_char "·"
        border_enabled "true"
        border_format "#[fg=#45475A]"
        border_position "top"
        datetime "#[fg=#7F849C,bold]{format}"
        datetime_format "%Y-%m-%d %H:%M:%S"
        datetime_timezone "Asia/Shanghai"
        format_left "{mode}  {tabs}"
        format_right "{datetime} · #[fg=#94E2D5,bold]~> {session}"
        format_space ""
        mode_default_to_mode "tmux"
        mode_enter_search "#[fg=#F9E2AF,bold]// ENTER SEARCH"
        mode_locked "#[fg=#F38BA8,bold]## LOCKED"
        mode_move "#[fg=#FAB387,bold]>> MOVE"
        mode_normal "#[fg=#A6E3A1,bold]-- NORMAL"
        mode_pane "#[fg=#F2CDCD,bold][] PANE"
        mode_rename_pane "#[fg=#EBA0AC,bold]++ RENAME PANE"
        mode_rename_tab "#[fg=#EBA0AC,bold]++ RENAME TAB"
        mode_resize "#[fg=#F5C2E7,bold]<> RESIZE"
        mode_scroll "#[fg=#F5E0DC,bold]|| SCROLL"
        mode_search "#[fg=#F9E2AF,bold]// SEARCH"
        mode_session "#[fg=#B4BEFE,bold]·· SESSION"
        mode_tab "#[fg=#94E2D5,bold]~~ TAB"
        mode_tmux "#[fg=#94E2D5,bold]-> TMUX"
        tab_active "#[fg=#F2CDCD,bold][#{index}] {name} {floating_indicator} "
        tab_active_fullscreen "#[fg=#F2CDCD,bold][#{index}] {name} {fullscreen_indicator} "
        tab_active_sync "#[fg=#F2CDCD,bold][#{index}] {name} {sync_indicator} "
        tab_display_count "9"
        tab_floating_indicator "^^ "
        tab_fullscreen_indicator "[] "
        tab_normal "#[fg=#585B70][#{index}] {name}  "
        tab_normal_fullscreen "#[fg=#585B70][#{index}] {name} []  "
        tab_normal_sync "#[fg=#585B70][#{index}] {name} <>  "
        tab_rename "#[fg=#FAB387,bold][#{index}] > {name} <"
        tab_sync_indicator "<> "
        tab_truncate_end_format "#[fg=#F2CDCD] ·· {count}+ >>"
        tab_truncate_start_format "#[fg=#F2CDCD]<< {count}+ ·· "
      }
    }
  }
  tab name="Htop" {
    pane {
      close_on_exit true
      command "htop"
    }
  }
  tab focus=true {
    pane
  }
}
